version: '3.8'
services:
  postgres:
    image: postgres:13
    container_name: pick-survive-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=supersecret
      - POSTGRES_DB=picksurvive
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: